
@{
    ViewBag.Title = "Quản lý thể loại xe";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@model PagedList.IPagedList<Models.EF.Category>
@using PagedList;
@using PagedList.Mvc;

<div class="row grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <div class="d-flex justify-content-between">
                <h3 class="card-title">Thể loại xe</h3>
            </div>
            <div class="d-flex table-responsive">
                @using (Html.BeginForm("Index", "CategoryAdmin", FormMethod.Get))
                {
                    <div class="btn-group mr-2 border-1">
                        <input type="text" name="search" class="btn btn-light form-control border-1" value="@ViewBag.Search" placeholder="Tìm kiếm">
                        <button type="submit" class="btn btn-light border-1" style="margin-left: 0px;"><i class="fa fa-search"></i></button>
                    </div>
                }

                <div class="btn-tm ml-auto mr-2 border-0">
                    <a class="btn btn-sm btn-primary" href="/them-moi-the-loai-xe-ad"><i class="mdi mdi-plus-circle-outline"></i> Thêm mới</a>
                </div>
            </div><br />
            <div class="row">
                <div class="col-12">
                    <div class="table-responsive">
                        <table id="order-listing" class="table">
                            <thead>
                                <tr>
                                    <th> </th>
                                    <th>Thể loại xe</th>
                                    <th>Ngày tạo</th>
                                    <th> </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr id="row_@item.id">
                                        <td> </td>
                                        <td>@item.name</td>
                                        <td>@item.date_created</td>
                                        <td>
                                            <a class="btn btn-xs btn-success" href="/cap-nhat-the-loai-xe-ad/@item.id"> <i class="fa fa-edit"></i> Sửa </a>
                                            @Ajax.ActionLink(" Xoá", "Delete", new { @id = item.id },
                                                 new AjaxOptions
                                                 {
                                                     Confirm = "Bạn chắc chắn muốn xoá thể loại này ?",
                                                     OnComplete = "$('#row_" + @item.id + "').remove()",
                                                     HttpMethod = "Delete"
                                                 },
                                                 new { @class = "mdi mdi-delete btn btn-xs btn-danger" })
                                            @*<a class="btn btn-xs btn-danger" href="#"> <i class="fa fa-times"></i> Xoá </a>*@
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- phân trang -->
            <br>
            <div class="d-flex align-items-center justify-content-between flex-column flex-sm-row mt-4">
                <p class="mb-3 mb-sm-0">Trang @Model.PageNumber / @Model.PageCount</p>

                @Html.PagedListPager(Model, page => Url.Action("Index", new { page, @search = @ViewBag.Search }))
            </div>
        </div>
    </div>
</div>
