
@{
    ViewBag.Title = "MOTORCYCLE ADMIN";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-6 col-lg-3 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="d-flex align-items-center justify-content-md-center">
                    <i class="mdi mdi-basket icon-lg text-success"></i>
                    <div class="ml-3">
                        <p class="mb-0">Đơn hàng</p>
                        <h6>@ViewBag.Order</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="d-flex align-items-center justify-content-md-center">
                    <i class="mdi mdi-motorbike icon-lg text-warning"></i>
                    <div class="ml-3">
                        <p class="mb-0">Tổng xe</p>
                        <h6>@ViewBag.Model</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="d-flex align-items-center justify-content-md-center">
                    <i class="mdi mdi-view-list icon-lg text-info"></i>
                    <div class="ml-3">
                        <p class="mb-0">Tổng hãng xe</p>
                        <h6>@ViewBag.Car</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="d-flex align-items-center justify-content-md-center">
                    <i class="mdi mdi-coin icon-lg text-danger"></i>
                    <div class="ml-3">
                        <p class="mb-0">Tổng doanh thu</p>
                        <h6>@ViewBag.Price</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row grid-margin">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h6 class="card-title">Xe mới nhập</h6>
                <div class="table-responsive">
                    <table class="table mt-3 border-top">
                        <thead>
                            <tr>
                                <th>Tên xe</th>
                                <th>Giá xe</th>
                                <th>Số lượng</th>
                                <th>Hình ảnh</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in ViewBag.Product)
                            {
                                <tr>
                                    <td>@item.Name</td>
                                    <td>@item.Price.ToString("C")</td>
                                    <td>@item.Number chiếc</td>
                                    <td>
                                        <img src="@item.Image" style="border-radius: 0px; width: 130px; height: 85px;" />
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <br />
                <div class="d-flex table-responsive">
                    <div class="btn-group ml-auto mr-2 border-0">
                        <a class="btn btn-sm btn-primary" href="/san-pham-ad"> Xem thêm <i class="mdi mdi-chevron-double-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-lg-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <h6 class="card-title">ADMIN - Nhân viên</h6>
                </div>
                @foreach (var item in ViewBag.Acc)
                {
                    <div class="list d-flex align-items-center border-bottom py-3">
                        <img class="img-sm rounded-circle" src="@item.thunbar" alt="">
                        <div class="wrapper w-100 ml-3">
                            <p class="mb-0 p-9"><b>@item.displayname</b></p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="d-flex align-items-center">
                                    <small class="text-muted mb-0"> - @item.type_account -</small>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <h6 class="card-title">Khách hàng</h6>
                </div>
                @foreach (var item in ViewBag.User)
                {
                    <div class="list d-flex align-items-center border-bottom py-3">
                        @if (item.thunbar != null)
                        {
                            <img class="img-sm rounded-circle" src="@item.thunbar" alt="">
                        }
                        <div class="wrapper w-100 ml-3">
                            <p class="mb-0 p-9"><b>@item.name</b></p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="d-flex align-items-center">
                                    <small class="text-muted mb-0">@item.email</small>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<div class="row grid-margin">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h6 class="card-title">Thông tin các trang tĩnh</h6>
                <div class="table-responsive">
                    <table class="table mt-3 border-top">
                        <thead>
                            <tr>
                                <th>Tiêu đề</th>
                                <th>Nội dung</th>
                                <th>Hình ảnh</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in ViewBag.News)
                            {
                                <tr>
                                    <td>@item.name</td>
                                    <td>@Html.Raw(item.content)</td>
                                    <td>
                                        <img src="@item.thunbar" style="border-radius: 0px; width: 130px; height: 85px;" />
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <br />
                <div class="d-flex table-responsive">
                    <div class="btn-group ml-auto mr-2 border-0">
                        <a class="btn btn-sm btn-info" href="/tin-tuc-ad"> Xem thêm <i class="mdi mdi-chevron-double-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body pb-0">
                <h6 class="card-title">Đánh giá - bình luận mới nhất</h6>
                <div class="row">
                    @foreach (var item in ViewBag.Feedback)
                    {
                        <div class="col-12">
                            <div class="wrapper border-bottom py-2">
                                <div class="d-flex">
                                    @if (item.Product_Image != null)
                                    {
                                        <img class="img-sm rounded-circle" src="@item.Product_Image" alt="">
                                    }
                                    <div class="wrapper ml-4">
                                        <p class="mb-0">@item.User_Name</p>
                                        <small class="text-muted mb-0">@item.Note</small>
                                    </div>
                                    <div class="rating ml-auto d-flex align-items-center">
                                        @if (item.Star == 1)
                                        {
                                            <i class="fa fa-star" style="color:#FD4; font-size:15pt;"></i>
                                            <i class="fa fa-star-o" style="font-size:15pt;"></i>
                                            <i class="fa fa-star-o" style="font-size:15pt;"></i>
                                            <i class="fa fa-star-o" style="font-size:15pt;"></i>
                                            <i class="fa fa-star-o" style="font-size:15pt;"></i>
                                        }
                                        else if (item.Star == 2)
                                        {
                                            <i class="fa fa-star" style="color:#FD4; font-size:15pt;"></i>
                                            <i class="fa fa-star" style="color:#FD4; font-size:15pt;"></i>
                                            <i class="fa fa-star-o" style="font-size:15pt;"></i>
                                            <i class="fa fa-star-o" style="font-size:15pt;"></i>
                                            <i class="fa fa-star-o" style="font-size:15pt;"></i>
                                        }
                                        else if (item.Star == 3)
                                        {
                                            <i class="fa fa-star" style="color:#FD4; font-size:15pt;"></i>
                                            <i class="fa fa-star" style="color:#FD4; font-size:15pt;"></i>
                                            <i class="fa fa-star" style="color:#FD4; font-size:15pt;"></i>
                                            <i class="fa fa-star-o" style="font-size:15pt;"></i>
                                            <i class="fa fa-star-o" style="font-size:15pt;"></i>
                                        }
                                        else if (item.Star == 4)
                                        {
                                            <i class="fa fa-star" style="color:#FD4; font-size:15pt;"></i>
                                            <i class="fa fa-star" style="color:#FD4; font-size:15pt;"></i>
                                            <i class="fa fa-star" style="color:#FD4; font-size:15pt;"></i>
                                            <i class="fa fa-star" style="color:#FD4; font-size:15pt;"></i>
                                            <i class="fa fa-star-o" style="font-size:15pt;"></i>
                                        }
                                        else
                                        {
                                            <i class="fa fa-star" style="color:#FD4; font-size:15pt;"></i>
                                            <i class="fa fa-star" style="color:#FD4; font-size:15pt;"></i>
                                            <i class="fa fa-star" style="color:#FD4; font-size:15pt;"></i>
                                            <i class="fa fa-star" style="color:#FD4; font-size:15pt;"></i>
                                            <i class="fa fa-star" style="color:#FD4; font-size:15pt;"></i>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body pb-0">
                <h6 class="card-title">Liên hệ mới nhất</h6>
                <div class="row">
                    @foreach (var item in ViewBag.Contact)
                    {
                        <div class="col-12">
                            <div class="wrapper border-bottom py-2">
                                <div class="d-flex">
                                    <img class="img-sm rounded-circle" src="~/Assets/Admin/images/avatar.png" alt="">
                                    <div class="wrapper ml-4">
                                        <p class="mb-0 p-9">@item.name</p>
                                        <small class="text-muted mb-0">@item.email</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>



