@model Models.EF.Account

@{
    ViewBag.Title = "Thêm mới ADMIN";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section scripts{
    <script>
        $('#btnSelectImg').on('click', function (e) {
            e.preventDefault();
            var finder = new CKFinder();
            finder.selectActionFunction = function (url) {
                $('#txtImg').val(url);
            };
            finder.popup();
        })
    </script>
}

<div class="row user-profile">
    <div class="col-lg-12 side-right stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <h3 class="card-title">Thêm mới tài khoản Admin - Nhân viên</h3>
                </div>
                <div class="wrapper d-block d-sm-flex align-items-center justify-content-between">
                    <h4 class="card-title mb-0"></h4>
                    <ul class="nav nav-tabs tab-solid tab-solid-primary mb-0" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="info-tab" data-toggle="tab" href="#info" role="tab" aria-controls="info" aria-expanded="true">Thông tin</a>
                        </li>
                    </ul>
                </div>
                <div class="wrapper">
                    <hr>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="info" role="tabpanel" aria-labelledby="info">
                            @using (Html.BeginForm("Create", "ADNV", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                <div class="form-group">
                                    @Html.LabelFor(model => model.name, htmlAttributes: new { @for = "name" })

                                    @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })

                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.displayname, htmlAttributes: new { @for = "designation" })

                                    @Html.EditorFor(model => model.displayname, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.displayname, "", new { @class = "text-danger" })

                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.password, htmlAttributes: new { @for = "password" })

                                    @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })

                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.phone, htmlAttributes: new { @for = "mobile" })

                                    @Html.EditorFor(model => model.phone, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.phone, "", new { @class = "text-danger" })

                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.email, htmlAttributes: new { @for = "email" })

                                    @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })

                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.address, htmlAttributes: new { @for = "address" })

                                    @Html.EditorFor(model => model.address, new { htmlAttributes = new { @class = "form-control", @rows = "5" } })
                                    @Html.ValidationMessageFor(model => model.address, "", new { @class = "text-danger" })

                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.type_account, htmlAttributes: new { @for = "website" })

                                    @Html.EditorFor(model => model.type_account, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.type_account, "", new { @class = "text-danger" })

                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.thunbar, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <br />
                                    <div class="form-group-border">
                                        @Html.EditorFor(model => model.thunbar, new { htmlAttributes = new { @class = "dropify", id = "txtImg" } })
                                        <a id="btnSelectImg" href="#" class="btn btn-xs btn-info">Chọn hình ảnh</a>
                                        @Html.ValidationMessageFor(model => model.thunbar, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <br />
                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <input type="submit" value="Thêm mới" class="btn btn-success mr-2" />
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <hr />
                <div>
                    @Html.ActionLink("<< Quay lại", "Index")
                </div>
            </div>
        </div>
    </div>
</div>



