
@{
    ViewBag.Title = "ADMIN";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@model PagedList.IPagedList<Models.EF.Account>
@using PagedList;
@using PagedList.Mvc;

<div class="row grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <div class="d-flex justify-content-between">
                <h3 class="card-title">Tài khoản ADMIN</h3>
            </div>
            <div class="d-flex table-responsive">
                @using (Html.BeginForm("Index", "ADNV", FormMethod.Get))
                {
                    <div class="btn-group mr-2 border-1">
                        <input type="text" name="search" class="btn btn-light form-control border-1" value="@ViewBag.Search" placeholder="Tìm kiếm">
                        <button type="submit" class="btn btn-light border-1" style="margin-left: 0px;"><i class="fa fa-search"></i></button>
                    </div>
                }

                <div class="btn-tm ml-auto mr-2 border-0">
                    <a class="btn btn-sm btn-info" href="/them-moi-admin-nhan-vien-ad"><i class="mdi mdi-plus-circle-outline"></i> Thêm mới</a>
                </div>
            </div>
            <br />
            @foreach (var item in Model)
            {
                <div class="list d-flex align-items-center border-bottom py-3" id="row_@item.id">
                    <img class="img-md rounded-circle" src="@item.thunbar" alt="">
                    <div class="wrapper w-100 ml-3">
                        <p class="mb-0 fontsize-p"><b>@item.displayname</b></p>
                        <a class="btn btn-xs btn-info" href="/chi-tiet-admin-nhan-vien-ad/@item.id"> <i class="fa fa-search"></i> Xem chi tiết </a>
                        <a class="btn btn-xs btn-success" href="/cap-nhat-admin-nhan-vien-ad/@item.id"> <i class="fa fa-edit"></i> Sửa </a>
                        @Ajax.ActionLink(" Xoá", "Delete", new { @id = item.id },
                             new AjaxOptions
                             {
                                 Confirm = "Bạn chắc chắn muốn xoá tài khoản này ?",
                                 OnComplete = "$('#row_" + @item.id + "').remove()",
                                 HttpMethod = "Delete"
                             },
                             new { @class = "mdi mdi-delete btn btn-xs btn-danger" })
                        @*<a class="btn btn-xs btn-danger" href="#"> <i class="fa fa-times"></i> Xoá </a>*@
                    </div>
                </div>
            }
            <!-- phân trang -->
            <br>
            <div class="d-flex align-items-center justify-content-between flex-column flex-sm-row mt-4">
                <p class="mb-3 mb-sm-0">Trang @Model.PageNumber / @Model.PageCount</p>

                @Html.PagedListPager(Model, page => Url.Action("Index", new { page, @search = @ViewBag.Search }))
            </div>
        </div>
    </div>
</div>
