
@{
    ViewBag.Title = "Đơn hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var session = (WebXe.Common.UserLogin)Session[WebXe.Common.CommonConstants.USER_SESSION];
}

@model PagedList.IPagedList<Models.EF.Order>
@using PagedList;
@using PagedList.Mvc;


<!--Title-->
<div class="bg-1" style="background-color: #fdf5e6;">
    <div class="container" style="padding: 50px 0px 20px 0px">
        <div class="row">
            <h3 class="user-title text-center" style="color: red;"> THÔNG TIN TÀI KHOẢN </h3>
            <p class="user-p-img">
                <img src="~/Assets/Client/images/moto/di.png" alt="crossbar">
            </p>
        </div>
    </div>
</div>

<!--customer account information-->
<div class="bg-1" style="background-color: #ffffff;">
    <div class="container" style="width: 1400px">
        <!--Menu-->
        <div class="col-sm-2 fixside well user-2">
            <!--hello user-->
            <div class="well text-center" style="background-color: #ffffff;">
                <p class="user-hello-p1" style="color: #337ab7;">Xin chào !!!</p>
                @if (session.UserImage != null)
                {
                    <img src="@session.UserImage" class="img-circle" height="70" width="75" alt="Avatar">
                }
                <p class="user-hello-p2" style="color: #337ab7;">@session.UserName</p>
            </div>

            <!--Personal information-->
            <div class="well text-center" style="background-color: #ffffff;">
                <a href="/khach-hang/@session.UserID">
                    <span class="glyphicon glyphicon-user user-span"></span>
                    <p class="user-p">Thông tin cá nhân</p>
                </a>
            </div>

            <!--your order-->
            <div class="well text-center" style="background-color: #ffffff;">
                <a href="/don-hang/@session.UserID">
                    <span class="glyphicon glyphicon-shopping-cart user-span"></span>
                    <p class="user-p">Đơn hàng của bạn</p>
                </a>
            </div>
        </div>

        <!--list of your orders-->
        <div class="col-md-9 bor user-9">
            <section class="box-main1">
                <h3 class="title-main user-order-h3">
                    <a href="#" style="font-size: 16pt;"> Đơn hàng </a>
                </h3>
                <table class="table table-hover" id="shoppingcart_info" style="color:#2c2c2c">
                    <thead>
                        <tr>
                            <th class="user-th">Mã ĐH</th>
                            <th class="user-th">Họ tên</th>
                            <th class="user-th">Tổng số tiền</th>
                            <th class="user-th">Trạng thái</th>
                            <th class="user-th">Địa chỉ</th>
                            <th class="user-th">Ngày đặt</th>
                            <th class="user-th"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr id="row_@item.id">
                                <td>@item.id</td>
                                <td>@item.User.displayname</td>
                                <td>@item.amount.ToString("C")</td>
                                @if (item.status == 1)
                                {
                                    <td>Đã xử lý</td>
                                }
                                else
                                {
                                    <td>Chờ xử lý</td>
                                }
                                <td>@item.User.address</td>
                                <td>@item.date_created</td>
                                <td>
                                    <a class="btn btn-xs btn-info" href="/chi-tiet-don-hang/@item.id"> 
                                        <i class="fa fa-search"></i> Chi tiết 
                                    </a>
                                    @Ajax.ActionLink(" Huỷ", "Delete", new { @id = item.id },
                                                 new AjaxOptions
                                                 {
                                                     Confirm = "Bạn chắc chắn muốn huỷ đơn hàng này ?",
                                                     OnComplete = "$('#row_" + @item.id + "').remove()",
                                                     HttpMethod = "Delete"
                                                 },
                                                 new { @class = "fa fa-times btn btn-xs btn-danger" })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </section>
        </div>
    </div>
</div>
<style type="text/css">
    .btn-xs,
    .btn-group-xs > .btn {
        padding: 1px 5px;
        font-size: 12px;
        line-height: 1.5;
        border-radius: 3px;
    }

    .btn-info {
        color: #fff;
        background-color: #5bc0de;
        border-color: #46b8da;
    }

    .btn-danger {
        color: #fff;
        background-color: #d9534f;
        border-color: #d43f3a;
    }

    .btn-danger:hover {
        color: #fff;
        background-color: #ff0000;
        border-color: #d43f3a;
    }
</style>

