@model Models.EF.Product

@{
    ViewBag.Title = "Cập nhật thông tin xe";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section scripts{
    <script>
        $('#btnSelectImg').on('click', function (e) {
            e.preventDefault();
            var finder = new CKFinder();
            finder.selectActionFunction = function (url) {
                $('#txtImg').val(url);
            };
            finder.popup();
        });

        $('#btnimg1').on('click', function (e) {
            e.preventDefault();
            var finder = new CKFinder();
            finder.selectActionFunction = function (url) {
                $('#img1').val(url);
            };
            finder.popup();
        });

        $('#btnimg2').on('click', function (e) {
            e.preventDefault();
            var finder = new CKFinder();
            finder.selectActionFunction = function (url) {
                $('#img2').val(url);
            };
            finder.popup();
        });

        $('#btnimg3').on('click', function (e) {
            e.preventDefault();
            var finder = new CKFinder();
            finder.selectActionFunction = function (url) {
                $('#img3').val(url);
            };
            finder.popup();
        });

        var editor = CKEDITOR.replace('txtContent', {
            customConfig: '/Assets/Admin/js/plugins/ckeditor/config.js'
        });
    </script>
}


<div class="row user-profile">
    <div class="col-lg-12 side-right stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <h3 class="card-title">Cập nhật sản phẩm</h3>
                </div>
                <div class="wrapper">
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="info" role="tabpanel" aria-labelledby="info">
                            @using (Html.BeginForm("Edit", "ProductAdmin", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()

                                <div class="form-horizontal">
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    @Html.HiddenFor(model => model.id)

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.name, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.id_CarManufacturer, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.DropDownListFor(model => model.id_CarManufacturer, new SelectList(ViewBag.HX, "id", "name"), htmlAttributes: new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.id_CarManufacturer, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.id_Category, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.DropDownListFor(model => model.id_Category, new SelectList(ViewBag.LX, "id", "name"), htmlAttributes: new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.id_Category, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.id_CylinderCapacity, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.DropDownListFor(model => model.id_CylinderCapacity, new SelectList(ViewBag.DTXL, "id", "name"), htmlAttributes: new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.id_CylinderCapacity, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.id_Color, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.DropDownListFor(model => model.id_Color, new SelectList(ViewBag.MX, "id", "name"), htmlAttributes: new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.id_Color, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.price, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.price, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.price, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.sale, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.sale, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.sale, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.number, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.number, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.number, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.imagemain, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="form-group-border" style="margin: 0px 194px 0px 10px;">
                                            @Html.EditorFor(model => model.imagemain, new { htmlAttributes = new { @class = "dropify", id = "txtImg" } })
                                            <a id="btnSelectImg" href="#" class="btn btn-xs btn-info">Chọn hình ảnh</a>
                                            @Html.ValidationMessageFor(model => model.imagemain, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.imagechild1, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="form-group-border" style="margin: 0px 194px 0px 10px;">
                                            @Html.EditorFor(model => model.imagechild1, new { htmlAttributes = new { @class = "dropify", id = "img1" } })
                                            <a id="btnimg1" href="#" class="btn btn-xs btn-info">Chọn hình ảnh</a>
                                            @Html.ValidationMessageFor(model => model.imagechild1, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.imagechild2, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="form-group-border" style="margin: 0px 194px 0px 10px;">
                                            @Html.EditorFor(model => model.imagechild2, new { htmlAttributes = new { @class = "dropify", id = "img2" } })
                                            <a id="btnimg2" href="#" class="btn btn-xs btn-info">Chọn hình ảnh</a>
                                            @Html.ValidationMessageFor(model => model.imagechild2, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.imagechild3, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="form-group-border" style="margin: 0px 194px 0px 10px;">
                                            @Html.EditorFor(model => model.imagechild3, new { htmlAttributes = new { @class = "dropify", id = "img3" } })
                                            <a id="btnimg3" href="#" class="btn btn-xs btn-info">Chọn hình ảnh</a>
                                            @Html.ValidationMessageFor(model => model.imagechild3, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <br />
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.information, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.TextAreaFor(model => model.information, new { htmlAttributes = new { @class = "form-control" }, id = "txtContent" })
                                            @Html.ValidationMessageFor(model => model.information, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <br />
                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-10">
                                            <input type="submit" value="Cập nhật" class="btn btn-success mr-2" />
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <hr />
                <div>
                    @Html.ActionLink("<< Quay lại", "Index")
                </div>
            </div>
        </div>
    </div>
</div>

